<div id=ifocus>
  <div id=ifocus_pic> 
    <div id="ifocus_piclist" style="left:0; top:0;"> 
      <ul>
        <li><a href="http://www.alixixi.com/" target="_blank"><img src="images/01.jpg" alt="Redcobble" /></a></li>
        <li><a href="http://www.alixixi.com/" target="_blank"><img src="images/02.jpg" alt="Redcobble" /></a></li>
        <li><a href="http://www.alixixi.com/" target="_blank"><img src="images/03.jpg" alt="Redcobble" /></a></li>
        <li><a href="http://www.alixixi.com/" target="_blank"><img src="images/04.jpg" alt="Redcobble" /></a></li>
      </ul>
    </div>
    <div id="ifocus_opdiv"></div>
    <div id="ifocus_tx"> 
      <ul>
        <li class="current">Redcobble</li>
        <li class="normal">Redcobble</li>
        <li class="normal">Redcobble</li>
        <li class="normal">Redcobble</li>
      </ul>
    </div>
  </div>
  <div id="ifocus_btn"> 
    <ul>
      <li class="current"><img src="images/btn_01.jpg" alt="" /></li>
      <li class="normal"><img src="images/btn_02.jpg" alt="" /></li>
      <li class="normal"><img src="images/btn_03.jpg" alt="" /></li>
      <li class="normal"><img src="images/btn_04.jpg" alt="" /></li>
    </ul>
  </div>
</div>
