<div class=footer>
  <div class=wrap>
    <div class="weixin" onmouseover="this.className = 'weixin on';" onmouseout="this.className = 'weixin';"> <a href="javascript:;"></a>
      <div class="weixin_nr">
        <div class="arrow"></div>
        <img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/images/wx.jpg" width="100" height="100" /> 关注官方微信 </div>
    </div>
    <div class=share><a class="twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fdolphin.com%2Fhappy-new-year%2F&text="   target="_blank" id="J-share-twitter"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/images/twitter.png"></a><a href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(document.location.href)+'&amp;t='+encodeURIComponent(document.title),'_blank','toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=600, height=450,top=100,left=350');void(0)"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/images/facebook.png"></a></div>
    <div class=addr><span>(+86) 755 25583221</span> | <span>Galaxy Maker World, Ya'nan Road,Shenzhen</span> | <span><a href="mailto:Sales@precintl.com">sales@precintl.com</a></span></div>
    <div class=beian> 
      <script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=215648a9-2887-4741-96ca-94d19042f94f&width=36&height=50&type=1" type="text/javascript" charset="utf-8"></script> 
    </div>
    <div class=icp>备案号 : <a href="http://www.miibeian.gov.cn/"  target="_blank">粤ICP备09161326号-3</a></div>
    <div class=clear></div>
  </div>
</div>
<script src="/js/backtop.min.js" language="javascript" type="text/javascript"></script> 
